Hello, I'm Home
<hr>

<%= form_for(:search, url: search_path, method: :get) do |f| %>
  <%= f.text_field :email, placeholder: '請輸入好友 Email' %>
  <%= f.submit :search %>
<% end %>

<hr>
root_path: <%= root_path %><br>
root_url: <%= root_url %><Br>
<hr>
<a href="" class="btn btn-primary">Primary</a>
<a href="" class="btn btn-info">Info</a>
<a href="" class="btn btn-success">Success</a>
<a href="" class="btn btn-warning">Warning</a>
<a href="" class="btn btn-danger">Danger</a>